.servicessection {
    width: 90vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 1em;
}

.servicesCardsec {
    width: 100%;
    display: flex;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
}

.servicecards {
    width: 100%;
    background: white;
    padding: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.1em;
}

@media (max-width: 600px) {
    .servicesCardsec {
        flex-direction: column;
    }
}

.idkwhattodohereatanytimeontheroadorhomebro {
    width: 90vw;
    text-align: left;

}
.idkwhattodohereatanytimeontheroadorhomebro span{
    font-weight: 600;
    font-size: 1.6em;
}
.idkwhattodohereatanytimeontheroadorhomebro p{
    opacity: 0.7;
}

