.devs-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, #1f2937, #111827);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4vw;
}

.devs-title {
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.devs-description {
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: center;
    max-width: 50rem;
}

.devs-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    gap: 2rem;
    margin-top: 2.5rem;
    width: 100%;
    max-width: 96rem;
}

.devs-card {
    background: rgba(255, 255, 255, 0.08);
    padding: 2rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.devs-avatar {
    max-width: 6rem !important;
    max-height: 6rem !important;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin-bottom: 1rem;
    overflow: hidden;
}

@media (max-width: 370px) {
    .devs-avatar {
        max-width: 5rem !important;
        max-height: 5rem !important;
    }

}

@media (max-width: 770px) {
    .devs-grid {
        flex-direction: column;
        gap: 20px;
    }

}

@media (max-width: 320px) {
    .devs-avatar {
        max-width: 4rem !important;
        max-height: 4rem !important;
    }

}

.devs-avatar img {
    width: 100%;
    object-fit: cover;
}

.devs-name {
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
}

.devs-role {
    font-size: 1rem;
    color: #d1d5db;
    margin-top: 0.5rem;
}


/* Background Animation */
.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

/* General Shape Style */
.shape {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.6;
    animation: float 10s ease-in-out infinite alternate;
}

/* Individual Shapes with different sizes, colors, and positions */
.shape1 {
    width: 30vw;
    height: 30vw;
    background: #ff7eb3;
    top: 10%;
    left: 20%;
    animation-delay: 0s;
}

.shape2 {
    width: 35vw;
    height: 35vw;
    background: #7afcff;
    top: 50%;
    left: 60%;
    animation-delay: 2s;
}

.shape3 {
    width: 25vw;
    height: 25vw;
    background: #ffe29a;
    top: 70%;
    left: 10%;
    animation-delay: 4s;
}

.devs-social {
    color: #7afcff;
}

/* Floating animation */
@keyframes float {
    0% {
        transform: translate(0, 0) scale(1);
    }

    100% {
        transform: translate(20px, -30px) scale(1.1);
    }
}