@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  /* font-style: normal; */
}
img{
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
}
#root{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    position: relative;
    
}
::selection{
    background-color: #ac25eb;
    color: white;
}
body,html{
    position: relative;
    width: 100%;
    overflow-x: hidden;
    background: #f3f4f6;
}
a{
    text-decoration: none;
    text-transform: capitalize;
    -webkit-user-drag: none;
    cursor: pointer;
}

.brudandbread{
    width: 90vw;
    margin-top: 10vh;
}
.brudandbread a{
    color: black;
}
.brudandbread a:hover{
    color: #ac25eb;
}
.brudandbread .activeonbread{
    color: #ac25eb;
}

.divbreaad{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: fit-content;
    /* background: white; */
    /* border-radius: 0.7em; */
    /* padding: 1em 2em; */
}
.homebrud{
    color: #b0b0b0 !important;
}
.homebrud:hover{
    text-decoration: underline;
}